nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-content {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.app-layout {
  margin-left: 100px;
}

nav ul {
  list-style: none;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

nav ul li {
  color: darkcyan;
  display: inline-block;
}

nav ul li a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits color from parent element */
  outline: none;
  display: inline-block;
  margin-right: 1rem;
}
.nav ul .active {
  color: lightblue;
  text-decoration: underline;
}

.vertical-a-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
